# BASE
COMMON_PATH=
TZ=Europe/Warsaw

# Uncomment the lines below to enable the corresponding VPN configuration

# NORD VPN
VPN_SERVICE_PROVIDER=nordvpn
# Your username for NordVPN
OPENVPN_USER=
# Your password for NordVPN
OPENVPN_PASSWORD=
# Choose the server region
SERVER_REGIONS=

# PROTON VPN 
# ENDPOINT_IP=PEER_ENDPOINT_IP  # The endpoint IP address of the VPN server
# WIREGUARD_ADDR=Interface_Address  # The WireGuard interface address
# ENDPOINT_PORT=51820  # Default port is 51820, but confirm if different
# DNS_ADDRESS=Interface_DNS  # DNS address for ProtonVPN
# PUBLIC_KEY=PEER_PublicKey  # The public key of the other peer
# PRIVATE_KEY=Interface_PrivateKey  # Your private key
